{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://connect.authentiq.io/"
        }
    ],
    "info": {
        "contact": {
            "email": "hello@authentiq.com",
            "name": "Team Authentiq",
            "url": "https://www.authentiq.com/"
        },
        "description": "Authentiq Connect OAuth 2.0 and OpenID Connect API reference.\nLearn about [Authentiq ID](https://www.authentiq.com/) or check out the [Authentiq Connect](https://developers.authentiq.com) developer documentation.\n",
        "termsOfService": "https://www.authentiq.com/terms",
        "title": "Authentiq Connect",
        "version": "1.0",
        "x-apisguru-categories": [
            "security"
        ],
        "x-logo": {
            "backgroundColor": "#F26641",
            "url": "https://api.apis.guru/v2/cache/logo/https_www.authentiq.com_theme_images_authentiq-logo-a-inverse.svg"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/AuthentiqID/authentiq-docs/master/docs/swagger/provider.yaml",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "authentiq.io"
    },
    "externalDocs": {
        "description": "Authentiq Developer Docs",
        "url": "https://developers.authentiq.com/"
    },
    "paths": {
        "/authorize": {
            "get": {
                "description": "Start a session with Authentiq Connect to authenticate a user.\n\n```\nGET https://connect.authentiq.io/authorize?client_id=<your-client-id>&response_type=code+id_token&scope=openid+email&redirect_uri=<your-redirect-uri>&state=0123456789\n```\n\nThis endpoint also supports the POST method.\n",
                "externalDocs": {
                    "description": "OIDC Authorization Endpoint",
                    "url": "http://openid.net/specs/openid-connect-core-1_0.html#AuthorizationEndpoint"
                },
                "operationId": "authorize",
                "parameters": [
                    {
                        "description": "A client ID obtained from the [Dashboard](https://dashboard.authentiq.com/).\n",
                        "in": "query",
                        "name": "client_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The OIDC response type to use for this authentication flow. Valid choices are `code`, `id_token`, `token`, `token id_token`, `code id_token` `code token` and `code token id_token`, but a client can be configured with a more restricted set.\n",
                        "in": "query",
                        "name": "response_type",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The space-separated identity claims to request from the end-user. Always include `openid` as a scope for compatibility with OIDC.\n",
                        "in": "query",
                        "name": "scope",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The location to redirect to after (un)successful authentication. See OIDC for the parameters passed in the query string (`response_mode=query`) or as fragments (`response_mode=fragment`). Unless the client is in test-mode this must be one of the registered redirect URLs.\n",
                        "in": "query",
                        "name": "redirect_uri",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "An opaque string that will be passed back to the redirect URL and therefore can be used to communicate client side state and prevent CSRF attacks.\n",
                        "in": "query",
                        "name": "state",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Whether to append parameters to the redirect URL in the query string (`query`) or as fragments (`fragment`). This option usually has a sensible default for each of the response types.\n",
                        "in": "query",
                        "name": "response_mode",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "An nonce provided by the client (and opaque to Authentiq Connect) that will be included in any ID Token generated for this session. Clients should use the nonce to mitigate replay attacks.\n",
                        "in": "query",
                        "name": "nonce",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The authentication display mode, which can be one of `page`, `popup` or `modal`. Defaults to `page`.\n",
                        "in": "query",
                        "name": "display",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "page"
                        }
                    },
                    {
                        "description": "Space-delimited, case sensitive list of ASCII string values that specifies whether the Authorization Server prompts the End-User for reauthentication and consent. The supported values are: `none`, `login`, `consent`. If `consent` the end-user is asked to (re)confirm what claims they share. Use `none` to check for an active session.\n",
                        "in": "query",
                        "name": "prompt",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "login"
                        }
                    },
                    {
                        "description": "Specifies the allowable elapsed time in seconds since the last time the end-user was actively authenticated.\n",
                        "in": "query",
                        "name": "max_age",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "description": "Specifies the preferred language to use on the authorization page, as a space-separated list of BCP47 language tags. Ignored at the moment.\n",
                        "in": "query",
                        "name": "ui_locales",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "302": {
                        "description": "A successful or erroneous authentication response.\n"
                    },
                    "303": {
                        "description": "*Sign in with Authentiq* page, popup or modal.\n"
                    }
                },
                "summary": "Authenticate a user",
                "tags": [
                    "Authentication"
                ]
            }
        },
        "/client": {
            "get": {
                "description": "Retrieve a list of clients.\n",
                "operationId": "client",
                "responses": {
                    "200": {
                        "description": "A list of Client Objects.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "description": "Client object",
                                        "properties": {
                                            "application_type": {
                                                "type": "string"
                                            },
                                            "client_id": {
                                                "type": "string"
                                            },
                                            "client_name": {
                                                "type": "string"
                                            },
                                            "client_uri": {
                                                "type": "string"
                                            },
                                            "contacts": {
                                                "items": {
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "default_max_age": {
                                                "format": "int64",
                                                "type": "integer"
                                            },
                                            "default_scopes": {
                                                "items": {
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "grant_types": {
                                                "items": {
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "logo_uri": {
                                                "type": "string"
                                            },
                                            "policy_uri": {
                                                "type": "string"
                                            },
                                            "redirect_uris": {
                                                "items": {
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "response_types": {
                                                "items": {
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "tos_uri": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "client_name",
                                            "client_uri"
                                        ],
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            },
                            "application/x-www-form-urlencoded": {
                                "schema": {
                                    "items": {
                                        "description": "Client object",
                                        "properties": {
                                            "application_type": {
                                                "type": "string"
                                            },
                                            "client_id": {
                                                "type": "string"
                                            },
                                            "client_name": {
                                                "type": "string"
                                            },
                                            "client_uri": {
                                                "type": "string"
                                            },
                                            "contacts": {
                                                "items": {
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "default_max_age": {
                                                "format": "int64",
                                                "type": "integer"
                                            },
                                            "default_scopes": {
                                                "items": {
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "grant_types": {
                                                "items": {
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "logo_uri": {
                                                "type": "string"
                                            },
                                            "policy_uri": {
                                                "type": "string"
                                            },
                                            "redirect_uris": {
                                                "items": {
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "response_types": {
                                                "items": {
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "tos_uri": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "client_name",
                                            "client_uri"
                                        ],
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "items": {
                                        "description": "Client object",
                                        "properties": {
                                            "application_type": {
                                                "type": "string"
                                            },
                                            "client_id": {
                                                "type": "string"
                                            },
                                            "client_name": {
                                                "type": "string"
                                            },
                                            "client_uri": {
                                                "type": "string"
                                            },
                                            "contacts": {
                                                "items": {
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "default_max_age": {
                                                "format": "int64",
                                                "type": "integer"
                                            },
                                            "default_scopes": {
                                                "items": {
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "grant_types": {
                                                "items": {
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "logo_uri": {
                                                "type": "string"
                                            },
                                            "policy_uri": {
                                                "type": "string"
                                            },
                                            "redirect_uris": {
                                                "items": {
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "response_types": {
                                                "items": {
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "tos_uri": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "client_name",
                                            "client_uri"
                                        ],
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "items": {
                                        "description": "Client object",
                                        "properties": {
                                            "application_type": {
                                                "type": "string"
                                            },
                                            "client_id": {
                                                "type": "string"
                                            },
                                            "client_name": {
                                                "type": "string"
                                            },
                                            "client_uri": {
                                                "type": "string"
                                            },
                                            "contacts": {
                                                "items": {
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "default_max_age": {
                                                "format": "int64",
                                                "type": "integer"
                                            },
                                            "default_scopes": {
                                                "items": {
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "grant_types": {
                                                "items": {
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "logo_uri": {
                                                "type": "string"
                                            },
                                            "policy_uri": {
                                                "type": "string"
                                            },
                                            "redirect_uris": {
                                                "items": {
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "response_types": {
                                                "items": {
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "tos_uri": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "client_name",
                                            "client_uri"
                                        ],
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "OAuth 2.0 error response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "error_description": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ],
                                    "type": "object"
                                }
                            },
                            "application/x-www-form-urlencoded": {
                                "schema": {
                                    "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "error_description": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ],
                                    "type": "object"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "error_description": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ],
                                    "type": "object"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "error_description": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "client_registration_token": []
                    },
                    {
                        "oauth_code": []
                    },
                    {
                        "oauth_implicit": []
                    }
                ],
                "summary": "List clients",
                "tags": [
                    "Client Management"
                ]
            },
            "post": {
                "description": "Register a new client with this Authentiq Connect provider.\n\nThis endpoint is compatible with [OIDC's Client Registration](http://openid.net/specs/openid-connect-registration-1_0.html) extension.\n",
                "externalDocs": {
                    "description": "OIDC Client Registration Endpoint",
                    "url": "http://openid.net/specs/openid-connect-registration-1_0.html#ClientRegistration"
                },
                "operationId": "createClient",
                "responses": {
                    "201": {
                        "description": "Client created",
                        "headers": {
                            "Location": {
                                "description": "URL of new client resource",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Problem Detail error response",
                        "content": {
                            "application/x-www-form-urlencoded": {
                                "schema": {
                                    "description": "HTTP Problem Detail\n",
                                    "properties": {
                                        "detail": {
                                            "description": "Human-readable explanation specific to this occurrence of the problem.\n",
                                            "type": "string"
                                        },
                                        "status": {
                                            "description": "The HTTP status code for this occurrence of the problem.\n",
                                            "type": "integer"
                                        },
                                        "title": {
                                            "description": "Human-readable summary of the problem type.\n",
                                            "type": "string"
                                        },
                                        "type": {
                                            "default": "about:blank",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "status"
                                    ],
                                    "type": "object"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "description": "HTTP Problem Detail\n",
                                    "properties": {
                                        "detail": {
                                            "description": "Human-readable explanation specific to this occurrence of the problem.\n",
                                            "type": "string"
                                        },
                                        "status": {
                                            "description": "The HTTP status code for this occurrence of the problem.\n",
                                            "type": "integer"
                                        },
                                        "title": {
                                            "description": "Human-readable summary of the problem type.\n",
                                            "type": "string"
                                        },
                                        "type": {
                                            "default": "about:blank",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "status"
                                    ],
                                    "type": "object"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "description": "HTTP Problem Detail\n",
                                    "properties": {
                                        "detail": {
                                            "description": "Human-readable explanation specific to this occurrence of the problem.\n",
                                            "type": "string"
                                        },
                                        "status": {
                                            "description": "The HTTP status code for this occurrence of the problem.\n",
                                            "type": "integer"
                                        },
                                        "title": {
                                            "description": "Human-readable summary of the problem type.\n",
                                            "type": "string"
                                        },
                                        "type": {
                                            "default": "about:blank",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "status"
                                    ],
                                    "type": "object"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "description": "HTTP Problem Detail\n",
                                    "properties": {
                                        "detail": {
                                            "description": "Human-readable explanation specific to this occurrence of the problem.\n",
                                            "type": "string"
                                        },
                                        "status": {
                                            "description": "The HTTP status code for this occurrence of the problem.\n",
                                            "type": "integer"
                                        },
                                        "title": {
                                            "description": "Human-readable summary of the problem type.\n",
                                            "type": "string"
                                        },
                                        "type": {
                                            "default": "about:blank",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "status"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "client_registration_token": []
                    },
                    {
                        "oauth_code": []
                    },
                    {
                        "oauth_implicit": []
                    }
                ],
                "summary": "Register a client",
                "tags": [
                    "Client Management"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Client object",
                                "properties": {
                                    "application_type": {
                                        "type": "string"
                                    },
                                    "client_id": {
                                        "type": "string"
                                    },
                                    "client_name": {
                                        "type": "string"
                                    },
                                    "client_uri": {
                                        "type": "string"
                                    },
                                    "contacts": {
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "default_max_age": {
                                        "format": "int64",
                                        "type": "integer"
                                    },
                                    "default_scopes": {
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "grant_types": {
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "logo_uri": {
                                        "type": "string"
                                    },
                                    "policy_uri": {
                                        "type": "string"
                                    },
                                    "redirect_uris": {
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "response_types": {
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "tos_uri": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "client_name",
                                    "client_uri"
                                ],
                                "type": "object"
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "description": "Client object",
                                "properties": {
                                    "application_type": {
                                        "type": "string"
                                    },
                                    "client_id": {
                                        "type": "string"
                                    },
                                    "client_name": {
                                        "type": "string"
                                    },
                                    "client_uri": {
                                        "type": "string"
                                    },
                                    "contacts": {
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "default_max_age": {
                                        "format": "int64",
                                        "type": "integer"
                                    },
                                    "default_scopes": {
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "grant_types": {
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "logo_uri": {
                                        "type": "string"
                                    },
                                    "policy_uri": {
                                        "type": "string"
                                    },
                                    "redirect_uris": {
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "response_types": {
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "tos_uri": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "client_name",
                                    "client_uri"
                                ],
                                "type": "object"
                            }
                        },
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "description": "Client object",
                                "properties": {
                                    "application_type": {
                                        "type": "string"
                                    },
                                    "client_id": {
                                        "type": "string"
                                    },
                                    "client_name": {
                                        "type": "string"
                                    },
                                    "client_uri": {
                                        "type": "string"
                                    },
                                    "contacts": {
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "default_max_age": {
                                        "format": "int64",
                                        "type": "integer"
                                    },
                                    "default_scopes": {
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "grant_types": {
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "logo_uri": {
                                        "type": "string"
                                    },
                                    "policy_uri": {
                                        "type": "string"
                                    },
                                    "redirect_uris": {
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "response_types": {
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "tos_uri": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "client_name",
                                    "client_uri"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "description": "Client Object",
                    "required": true
                }
            }
        },
        "/client/{client_id}": {
            "delete": {
                "description": "Delete a previously registered client.\n",
                "externalDocs": {
                    "description": "OIDC Client Configuration Endpoint",
                    "url": "http://openid.net/specs/openid-connect-registration-1_0.html#ClientConfigurationEndpoint"
                },
                "operationId": "clientClient_id",
                "parameters": [
                    {
                        "description": "Client identifier",
                        "in": "path",
                        "name": "client_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Client deleted"
                    },
                    "default": {
                        "description": "Problem Detail error response",
                        "content": {
                            "application/x-www-form-urlencoded": {
                                "schema": {
                                    "description": "HTTP Problem Detail\n",
                                    "properties": {
                                        "detail": {
                                            "description": "Human-readable explanation specific to this occurrence of the problem.\n",
                                            "type": "string"
                                        },
                                        "status": {
                                            "description": "The HTTP status code for this occurrence of the problem.\n",
                                            "type": "integer"
                                        },
                                        "title": {
                                            "description": "Human-readable summary of the problem type.\n",
                                            "type": "string"
                                        },
                                        "type": {
                                            "default": "about:blank",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "status"
                                    ],
                                    "type": "object"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "description": "HTTP Problem Detail\n",
                                    "properties": {
                                        "detail": {
                                            "description": "Human-readable explanation specific to this occurrence of the problem.\n",
                                            "type": "string"
                                        },
                                        "status": {
                                            "description": "The HTTP status code for this occurrence of the problem.\n",
                                            "type": "integer"
                                        },
                                        "title": {
                                            "description": "Human-readable summary of the problem type.\n",
                                            "type": "string"
                                        },
                                        "type": {
                                            "default": "about:blank",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "status"
                                    ],
                                    "type": "object"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "description": "HTTP Problem Detail\n",
                                    "properties": {
                                        "detail": {
                                            "description": "Human-readable explanation specific to this occurrence of the problem.\n",
                                            "type": "string"
                                        },
                                        "status": {
                                            "description": "The HTTP status code for this occurrence of the problem.\n",
                                            "type": "integer"
                                        },
                                        "title": {
                                            "description": "Human-readable summary of the problem type.\n",
                                            "type": "string"
                                        },
                                        "type": {
                                            "default": "about:blank",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "status"
                                    ],
                                    "type": "object"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "description": "HTTP Problem Detail\n",
                                    "properties": {
                                        "detail": {
                                            "description": "Human-readable explanation specific to this occurrence of the problem.\n",
                                            "type": "string"
                                        },
                                        "status": {
                                            "description": "The HTTP status code for this occurrence of the problem.\n",
                                            "type": "integer"
                                        },
                                        "title": {
                                            "description": "Human-readable summary of the problem type.\n",
                                            "type": "string"
                                        },
                                        "type": {
                                            "default": "about:blank",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "status"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "client_registration_token": []
                    },
                    {
                        "oauth_code": []
                    },
                    {
                        "oauth_implicit": []
                    }
                ],
                "summary": "Delete a client",
                "tags": [
                    "Client Management"
                ]
            },
            "get": {
                "description": "Retrieve the configuration of a previously registered client.\n",
                "externalDocs": {
                    "description": "OIDC Client Configuration Endpoint",
                    "url": "http://openid.net/specs/openid-connect-registration-1_0.html#ClientConfigurationEndpoint"
                },
                "operationId": "getClient",
                "parameters": [
                    {
                        "description": "Client identifier",
                        "in": "path",
                        "name": "client_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Client found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Client object",
                                    "properties": {
                                        "application_type": {
                                            "type": "string"
                                        },
                                        "client_id": {
                                            "type": "string"
                                        },
                                        "client_name": {
                                            "type": "string"
                                        },
                                        "client_uri": {
                                            "type": "string"
                                        },
                                        "contacts": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "default_max_age": {
                                            "format": "int64",
                                            "type": "integer"
                                        },
                                        "default_scopes": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "grant_types": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "logo_uri": {
                                            "type": "string"
                                        },
                                        "policy_uri": {
                                            "type": "string"
                                        },
                                        "redirect_uris": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "response_types": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "tos_uri": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "client_name",
                                        "client_uri"
                                    ],
                                    "type": "object"
                                }
                            },
                            "application/x-www-form-urlencoded": {
                                "schema": {
                                    "description": "Client object",
                                    "properties": {
                                        "application_type": {
                                            "type": "string"
                                        },
                                        "client_id": {
                                            "type": "string"
                                        },
                                        "client_name": {
                                            "type": "string"
                                        },
                                        "client_uri": {
                                            "type": "string"
                                        },
                                        "contacts": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "default_max_age": {
                                            "format": "int64",
                                            "type": "integer"
                                        },
                                        "default_scopes": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "grant_types": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "logo_uri": {
                                            "type": "string"
                                        },
                                        "policy_uri": {
                                            "type": "string"
                                        },
                                        "redirect_uris": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "response_types": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "tos_uri": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "client_name",
                                        "client_uri"
                                    ],
                                    "type": "object"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "description": "Client object",
                                    "properties": {
                                        "application_type": {
                                            "type": "string"
                                        },
                                        "client_id": {
                                            "type": "string"
                                        },
                                        "client_name": {
                                            "type": "string"
                                        },
                                        "client_uri": {
                                            "type": "string"
                                        },
                                        "contacts": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "default_max_age": {
                                            "format": "int64",
                                            "type": "integer"
                                        },
                                        "default_scopes": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "grant_types": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "logo_uri": {
                                            "type": "string"
                                        },
                                        "policy_uri": {
                                            "type": "string"
                                        },
                                        "redirect_uris": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "response_types": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "tos_uri": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "client_name",
                                        "client_uri"
                                    ],
                                    "type": "object"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "description": "Client object",
                                    "properties": {
                                        "application_type": {
                                            "type": "string"
                                        },
                                        "client_id": {
                                            "type": "string"
                                        },
                                        "client_name": {
                                            "type": "string"
                                        },
                                        "client_uri": {
                                            "type": "string"
                                        },
                                        "contacts": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "default_max_age": {
                                            "format": "int64",
                                            "type": "integer"
                                        },
                                        "default_scopes": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "grant_types": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "logo_uri": {
                                            "type": "string"
                                        },
                                        "policy_uri": {
                                            "type": "string"
                                        },
                                        "redirect_uris": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "response_types": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "tos_uri": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "client_name",
                                        "client_uri"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "OAuth 2.0 error response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "error_description": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ],
                                    "type": "object"
                                }
                            },
                            "application/x-www-form-urlencoded": {
                                "schema": {
                                    "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "error_description": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ],
                                    "type": "object"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "error_description": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ],
                                    "type": "object"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "error_description": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "client_registration_token": []
                    },
                    {
                        "oauth_code": []
                    },
                    {
                        "oauth_implicit": []
                    }
                ],
                "summary": "View a client",
                "tags": [
                    "Client Management"
                ]
            },
            "put": {
                "description": "Update the configuration of a previously registered client.\n",
                "externalDocs": {
                    "description": "OIDC Client Configuration Endpoint",
                    "url": "http://openid.net/specs/openid-connect-registration-1_0.html#ClientConfigurationEndpoint"
                },
                "operationId": "updateClient",
                "parameters": [
                    {
                        "description": "Client identifier",
                        "in": "path",
                        "name": "client_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Client updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Client object",
                                    "properties": {
                                        "application_type": {
                                            "type": "string"
                                        },
                                        "client_id": {
                                            "type": "string"
                                        },
                                        "client_name": {
                                            "type": "string"
                                        },
                                        "client_uri": {
                                            "type": "string"
                                        },
                                        "contacts": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "default_max_age": {
                                            "format": "int64",
                                            "type": "integer"
                                        },
                                        "default_scopes": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "grant_types": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "logo_uri": {
                                            "type": "string"
                                        },
                                        "policy_uri": {
                                            "type": "string"
                                        },
                                        "redirect_uris": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "response_types": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "tos_uri": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "client_name",
                                        "client_uri"
                                    ],
                                    "type": "object"
                                }
                            },
                            "application/x-www-form-urlencoded": {
                                "schema": {
                                    "description": "Client object",
                                    "properties": {
                                        "application_type": {
                                            "type": "string"
                                        },
                                        "client_id": {
                                            "type": "string"
                                        },
                                        "client_name": {
                                            "type": "string"
                                        },
                                        "client_uri": {
                                            "type": "string"
                                        },
                                        "contacts": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "default_max_age": {
                                            "format": "int64",
                                            "type": "integer"
                                        },
                                        "default_scopes": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "grant_types": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "logo_uri": {
                                            "type": "string"
                                        },
                                        "policy_uri": {
                                            "type": "string"
                                        },
                                        "redirect_uris": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "response_types": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "tos_uri": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "client_name",
                                        "client_uri"
                                    ],
                                    "type": "object"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "description": "Client object",
                                    "properties": {
                                        "application_type": {
                                            "type": "string"
                                        },
                                        "client_id": {
                                            "type": "string"
                                        },
                                        "client_name": {
                                            "type": "string"
                                        },
                                        "client_uri": {
                                            "type": "string"
                                        },
                                        "contacts": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "default_max_age": {
                                            "format": "int64",
                                            "type": "integer"
                                        },
                                        "default_scopes": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "grant_types": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "logo_uri": {
                                            "type": "string"
                                        },
                                        "policy_uri": {
                                            "type": "string"
                                        },
                                        "redirect_uris": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "response_types": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "tos_uri": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "client_name",
                                        "client_uri"
                                    ],
                                    "type": "object"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "description": "Client object",
                                    "properties": {
                                        "application_type": {
                                            "type": "string"
                                        },
                                        "client_id": {
                                            "type": "string"
                                        },
                                        "client_name": {
                                            "type": "string"
                                        },
                                        "client_uri": {
                                            "type": "string"
                                        },
                                        "contacts": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "default_max_age": {
                                            "format": "int64",
                                            "type": "integer"
                                        },
                                        "default_scopes": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "grant_types": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "logo_uri": {
                                            "type": "string"
                                        },
                                        "policy_uri": {
                                            "type": "string"
                                        },
                                        "redirect_uris": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "response_types": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "tos_uri": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "client_name",
                                        "client_uri"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Problem Detail error response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "HTTP Problem Detail\n",
                                    "properties": {
                                        "detail": {
                                            "description": "Human-readable explanation specific to this occurrence of the problem.\n",
                                            "type": "string"
                                        },
                                        "status": {
                                            "description": "The HTTP status code for this occurrence of the problem.\n",
                                            "type": "integer"
                                        },
                                        "title": {
                                            "description": "Human-readable summary of the problem type.\n",
                                            "type": "string"
                                        },
                                        "type": {
                                            "default": "about:blank",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "status"
                                    ],
                                    "type": "object"
                                }
                            },
                            "application/x-www-form-urlencoded": {
                                "schema": {
                                    "description": "HTTP Problem Detail\n",
                                    "properties": {
                                        "detail": {
                                            "description": "Human-readable explanation specific to this occurrence of the problem.\n",
                                            "type": "string"
                                        },
                                        "status": {
                                            "description": "The HTTP status code for this occurrence of the problem.\n",
                                            "type": "integer"
                                        },
                                        "title": {
                                            "description": "Human-readable summary of the problem type.\n",
                                            "type": "string"
                                        },
                                        "type": {
                                            "default": "about:blank",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "status"
                                    ],
                                    "type": "object"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "description": "HTTP Problem Detail\n",
                                    "properties": {
                                        "detail": {
                                            "description": "Human-readable explanation specific to this occurrence of the problem.\n",
                                            "type": "string"
                                        },
                                        "status": {
                                            "description": "The HTTP status code for this occurrence of the problem.\n",
                                            "type": "integer"
                                        },
                                        "title": {
                                            "description": "Human-readable summary of the problem type.\n",
                                            "type": "string"
                                        },
                                        "type": {
                                            "default": "about:blank",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "status"
                                    ],
                                    "type": "object"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "description": "HTTP Problem Detail\n",
                                    "properties": {
                                        "detail": {
                                            "description": "Human-readable explanation specific to this occurrence of the problem.\n",
                                            "type": "string"
                                        },
                                        "status": {
                                            "description": "The HTTP status code for this occurrence of the problem.\n",
                                            "type": "integer"
                                        },
                                        "title": {
                                            "description": "Human-readable summary of the problem type.\n",
                                            "type": "string"
                                        },
                                        "type": {
                                            "default": "about:blank",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "status"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "client_registration_token": []
                    },
                    {
                        "oauth_code": []
                    },
                    {
                        "oauth_implicit": []
                    }
                ],
                "summary": "Update a client",
                "tags": [
                    "Client Management"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Client object",
                                "properties": {
                                    "application_type": {
                                        "type": "string"
                                    },
                                    "client_id": {
                                        "type": "string"
                                    },
                                    "client_name": {
                                        "type": "string"
                                    },
                                    "client_uri": {
                                        "type": "string"
                                    },
                                    "contacts": {
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "default_max_age": {
                                        "format": "int64",
                                        "type": "integer"
                                    },
                                    "default_scopes": {
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "grant_types": {
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "logo_uri": {
                                        "type": "string"
                                    },
                                    "policy_uri": {
                                        "type": "string"
                                    },
                                    "redirect_uris": {
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "response_types": {
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "tos_uri": {
                                        "type": "string"
                                    }
                                },
                                "required": [
[...]
